@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


.container { 
	padding-right: 1rem;
	padding-left: 1rem;
    height: 100vh;

}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}



  
  @media(min-width: 800px) {
      .container {
          padding-left: calc((100vw - 600px)/2);
          padding-right: calc((100vw - 600px)/2);
      }
  }



